<nav>
    <ul>
        <li><a href="/" class="<%= activePage === 'home' ? 'active' : '' %>">Home</a></li>
        <li><a href="/patients" class="<%= activePage === 'patients' ? 'active' : '' %>">Patients</a></li>
        <li><a href="/doctors" class="<%= activePage === 'doctors' ? 'active' : '' %>">Doctors</a></li>
        <li><a href="/medications" class="<%= activePage === 'medications' ? 'active' : '' %>">Medicines</a></li>
        <li><a href="/prescriptions" class="<%= activePage === 'prescriptions' ? 'active' : '' %>">Prescriptions</a></li>
    </ul>
</nav>